harbor:
  # If using existingSecretSecretKey, the key must be secretKey
  # The secret key used for encryption. Must be a string of 16 chars.
  existingSecretSecretKey: harbor-key
  existingSecretAdminPassword: harbor-admin-password
  existingSecretAdminPasswordKey: HARBOR_ADMIN_PASSWORD

  core:
    # If using existingSecret, the key must be secret
    # Must be a string of 16 chars.
    existingSecret: harbor-core
    existingXsrfSecret: harbor-xsrf
    existingXsrfSecretKey: CSRF_KEY
    extraEnvVars:
      - name: CONFIG_OVERWRITE_JSON
        valueFrom:
          secretKeyRef:
            key: CONFIG_OVERWRITE_JSON
            name: harbor-oidc

  expose:
    tls:
      certSource: secret
      secret:
        secretName: harbor-tls-secret
    ingress:
      hosts:
        core: harbor.192.168.120.181.nip.io
  externalURL: https://harbor.192.168.120.181.nip.io
  database:
    external:
      host: "chorus-harbor-db-postgresql"
  redis:
    master:
      resourcesPreset: "small"
    external:
      addr: "chorus-harbor-cache-valkey-primary:6379"
  jobservice:
    # Must be a string of 16 chars.
    existingSecret: harbor-jobservice
    existingSecretKey: JOBSERVICE_SECRET
  registry:
    # Must be a string of 16 chars.
    existingSecret: harbor-registry
    existingSecretKey: REGISTRY_HTTP_SECRET
    credentials:
      # If using existingSecret, the key must be REGISTRY_PASSWD and REGISTRY_HTPASSWD
      existingSecret: harbor-registry-credentials
certificate:
  enabled: true
  issuerRef:
    name: selfsigned-issuer
    kind: ClusterIssuer
  secretName: harbor-tls-secret
redis:
  type: external
database:
  type: external
