postgresql:
  global:
    postgresql:
      auth:
        username: keycloak
        database: keycloak
        existingSecret: keycloak-db-secret
        secretKeys:
          adminPasswordKey: postgres-password
          userPasswordKey: password
  tls:
    enabled: true
    certificatesSecret: keycloak-db-tls-secret
  primary:
    resourcesPreset: "small"
    persistence:
      size: 1Gi
  metrics:
    resourcesPreset: "small"
  # Warning: Keycloak is still on 16
  # https://www.keycloak.org/server/db
  image:
    # https://hub.docker.com/r/bitnami/postgresql
    registry: docker.io
    repository: bitnamilegacy/postgresql
    tag: 16.4.0
  architecture: standalone
certificate:
  enabled: true
  secretName: keycloak-db-tls-secret # same as above
  issuerRef:
    name: selfsigned-issuer
    kind: ClusterIssuer
